@import url("shared.css");

#players-container {
  text-align: center;
  color: white;
  font-size: large;
  font-weight: bold;
}

#player1-options {
  width: 250px;
  height: 250px;
  background-color: green;
  display: inline-block;
  margin-right: 25px;
  border-radius: 20px;
}

#player2-options {
  width: 250px;
  height: 250px;
  background-color: green;
  display: inline-block;
  margin-right: 25px;
  border-radius: 20px;
  box-shadow: 10px 10px 3px;
}

.basic-btn {
  margin-top: 20px;
}

label {
  display: block;
  margin-top: 60px;
  text-shadow: 2px 2px 2px black;
}

select {
  width: 100px;
  height: 25px;
  border-radius: 5px;
  margin-top: 5px;
}

input {
  margin-top: 5px;
  font-size: large;
  border-radius: 5px;
  width: 180px;
}
