#game-page-title {
  color: #3cb371;
  font-size: 36px;
  font-weight: 600;
  margin: auto;
  text-align: center;
}

#horizontal-line {
  height: 12px;
  width: 285px;
  background-color: rgb(223, 223, 223);
  border-radius: 20px;
  border-color: whitesmoke;
}

.player-box {
  width: 121px;
  height: 140px;
  display: inline-block;
  border-radius: 15px;
  margin-top: 10px;
}

#players-boxes {
  margin: auto;
  width: 285px;
  display: flex;
  justify-content: space-between;
}
#player-one-box {
  background-color: #3cb372e5;
  margin-right: 10px;
  flex: auto;
}

#player-two-box {
  background-color: rgba(238, 153, 49, 0.897);
  margin-left: 10px;
  flex: auto;
}

#game-board {
  background-color: rgb(223, 223, 223);
  width: 400px;
  height: 419px;
  border-radius: 20px;
  /* background-image: linear-gradient(red, blue); */
  margin: 30px auto 0;
  box-shadow: 5px 5px 10px grey;
}
.game-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  width: 100px;
  height: 103px;
  cursor: pointer;
  border: none;
  box-shadow: 3px 3px 10px grey;
}

#game-boxes {
  width: 309px;
  height: 361px;
  position: relative;
  left: 29px;
  top: 28px;
}

#second-box,
#third-box,
#fifth-box,
#sixth-box,
#eighth-box,
#ninth-box {
  margin-left: 15px;
}

#fourth-box,
#fifth-box,
#sixth-box,
#seventh-box,
#eighth-box,
#ninth-box {
  margin-top: 20px;
}

.xo-text {
  margin: 0;
  font-size: 90px;
}

.player-name {
  color: #fff;
  display: block;
  text-align: center;
  font-size: 20px;
}

.xo-value {
  font-family: "CherryBombOne", Arial, Helvetica, sans-serif;
  font-size: 80px;
  display: block;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}
