@import url("shared.css");

.basic-btn {
  margin: 50px auto;
}

.container {
  overflow: auto;
}

#history-page-title {
  color: blue;
  font-size: 36px;
  font-weight: 600;
  margin: auto;
  text-align: center;
}

#horizontal-line {
  height: 12px;
  width: 285px;
  background-color: red;
  border-radius: 20px;
  border-color: red;
}

.match-result {
  text-align: center;
  margin-top: 100px;
}

.win {
  font-size: 30px;
  font-weight: bold;
  color: navy;
}

.player1 {
  font-size: larger;
  font-weight: bold;
  color: red;
  margin: 0 100px;
}

.player2 {
  font-size: larger;
  font-weight: bold;
  color: blue;
  margin: 0 100px;
}
